---
# The name of your project
title: Spring Data Envers

badges:

  # Specify your project's twitter handle, if any. Delete if none.
  twitter: SpringData

  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/spring-projects/spring-data-envers
      icon: github

    - name: Issues (JIRA)
      url:  https://github.com/spring-projects/spring-data-envers/issues
      icon: tracking

    - name: CI (Bamboo)
      url:  https://build.spring.io/browse/SPRINGDATAENVERS-ENVERS
      icon: ci

    - name: StackOverflow
      url:  http://stackoverflow.com/questions/tagged/spring-data-envers
      icon: stackoverflow

---
<!DOCTYPE HTML>
<html lang="en-US">

<!-- Specify the parent of this project (or delete if none) to influence the rendering of the breadcrumb -->
{% capture parent_link %}
[Spring Data]({{ site.projects_site_url }}/spring-data)
{% endcapture %}

{% capture billboard_description %}

This project is an extension of the Spring Data JPA project to allow access to entity revisions managed by Hibernate Envers.

{% endcapture %}

{% capture main_content %}

This project is an extension of the [Spring Data JPA]({{ site.projects_site_url }}/spring-data-jpa) project to allow access to entity revisions managed by Hibernate Envers.
The sources mostly originate from a contribution of Philipp Hügelmeyer [@hygl](https://github.com/hygl).


<span id="quick-start"></span>

## Quick Start

{% include download_widget.md %}

{% endcapture %}

{% capture related_resources %}

{% endcapture %}

{% include project_page.html %}
</html>
